
.header{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}
.btn{
  background-color: rgb(74, 139, 74);
  font-size: 20px;
  padding: 13px 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 35px;
}
.btn:hover{
  background-color: rgb(133, 182, 133);
  text-decoration: underline;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image{
  width: 400px;
  height: 400px;
}
.conatiner_like_view_share{
  width: 400px;
  background-color: rgb(148, 171, 190);
  display: flex;
  justify-content: space-around;
}
.container_para{
  font-size: 20px;
}
.font_awesome{
  margin-right: 5px;
}
.font_awesome_first{
  color: red;
}
.font_awesome_second{
  color: green;
}
.font_awesome_third{
  color: blue;
}

.navigate{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 26);
  text-decoration: none;
  padding: 10px;
}
.list{
  list-style: none;
  margin: 10px;
}
.connectToPath{
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(10, 153, 153);
  padding: 5px 20px;
  border-radius: 10px;
}
.connectToPath:hover{
  background-color: rgb(26, 153, 153);
}
.connectToPath.active{
  background-color: rgb(83, 94, 153);
  text-decoration: underline;
}

.date{
  /*background-color: rgb(58, 122, 58); */
  margin-left:-35px;
  font-size: 18px;
}